@import "vars";

.header {
    background: url(../images/seedsmain.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.header {
    .navbar {
        background-color: transparent !important;
    }

    .navbar-brand {
        max-width: 70px;
        max-height: 90px;
    }
}

#navbarTogglerDemo03 {
    transition: 180ms linear;
}

.navbar-toggler-icon {
    font-size: 25px;
}

.nav-item {
    border-bottom: 2px solid $colorvioleta;
    font-weight: 500;
    @media only screen and (max-width: 991px) {
        background-color: rgba($color: $colorceleste, $alpha: 0.4);
        font-weight: 700;
        padding-left: 12px;
    }
}

.nav-item:hover {
    transition:1.1s;
    background-color: rgba($color: $colorceleste, $alpha: 0.4);
}