@import "vars";

.header {
    background: url(../images/seedsmain.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.header {
    .navbar {
        background-color: transparent !important;
    }

    .navbar-brand {
        max-width: 70px;
        max-height: 90px;
    }
}

#navbarTogglerDemo03 {
    transition: 180ms linear;
}

.navbar-toggler-icon {
    background-color: $colorceleste;
    border: 1px solid $colorceleste;
    border-radius: 3px;
    font-size: 25px;
}

.nav-item {
    border-bottom: 2px solid $colorvioleta;

}

.nav-item:hover {
    transition:1.1s;
    background-color: $colorvioleta;
}