@import "vars";

.container {

    .h3 {
    transition: map-get($textstyle, transition);
    font-family: $font;
    text-shadow: map-get($textstyle, sombra);
    font-weight: 900;
    &:hover {
        text-shadow: 2px 1px 4px $colorvioleta;
        }
    }

    .h2 {
        @extend .h3;
        background-color: $colorceleste;
        &:hover {
            text-shadow: 2px 1px 4px $colorvioleta;
        }
    }

    .h1 {
        @extend .h3;
        &:hover {
            text-shadow: 2px 1px 4px $colorvioleta;
        } 
    }
}


.parrafo {
    font-family: $font;
    text-align: justify;
}
