@import "vars";

.container {

    .h3 {
    transition: map-get($textstyle, transition);
    font-family: $font;
    text-shadow: map-get($textstyle, sombra);
    font-weight: 900;
    &:hover {
        text-shadow: 2px 1px 4px $colorvioleta;
        }
    }

    .h2 {
        @extend .h3;
        &:hover {
            text-shadow: 2px 1px 4px $colorvioleta;
        }
    }

    .h1 {
        @extend .h3;
        color: $colorceleste;
        font-size: 8vw;
        text-shadow: map-get($textstyle, sombrah1);
        background-color: transparent;
        &:hover {
            text-shadow: 0 0 10px $colorvioleta,
                0 0 15px $colorvioleta,
                0 0 20px $colorvioleta;
        }
        span {
            transition: .4s linear;
            &:hover {
                color: $colorceleste;
                font-weight:bolder;
                letter-spacing: 8px;
                text-shadow: 0 0 10px $colorvioleta,
                0 0 15px $colorvioleta,
                0 0 20px $colorvioleta;
                }
        }
    }
}

.parrafo {
    font-family: $font;
    text-align: justify;
}
